pytest==7.4
coverage
dotenv
openai
dashscope
unidiff
CodeBLEU
tree-sitter-python==0.20.1
# requests
pytest-httpbin
PySocks
# urllib3
trustme
trio
quart
quart_trio
pytest-timeout
# pydantic-1.0
pytest-mock
pytest-benchmark
hypothesis
pydantic[email]